# Préparation des données

 ### 4DS1

In [ ]:
##Importation pandas
import pandas as pd
# Read dataset to pandas dataframe
df = pd.read_excel('Churn.xlsx')

In [ ]:
##Afficher les 5 premieres lignes
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [ ]:
# Pour afficher le nombre de lignes (observations) et de colonnes(descripteurs)
df.shape

(3333, 21)

In [ ]:
# Pour voir moins ou plusieurs lignes, passer un entier, par exemple: tail(3)
df.tail(3)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False.
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False.
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False.

In [ ]:
# Cette méthode retourne des informations sur une DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
State             3333 non-null object
Account Length    3333 non-null int64
Area Code         3333 non-null int64
Phone             3333 non-null object
Int'l Plan        3333 non-null object
VMail Plan        3333 non-null object
VMail Message     3333 non-null int64
Day Mins          3333 non-null float64
Day Calls         3333 non-null int64
Day Charge        3333 non-null float64
Eve Mins          3333 non-null float64
Eve Calls         3333 non-null int64
Eve Charge        3333 non-null float64
Night Mins        3333 non-null float64
Night Calls       3333 non-null int64
Night Charge      3333 non-null float64
Intl Mins         3333 non-null float64
Intl Calls        3333 non-null int64
Intl Charge       3333 non-null float64
CustServ Calls    3333 non-null int64
Churn?            3333 non-null object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [ ]:
#Affihcer les types des attributs
df.dtypes

State              object
Account Length      int64
Area Code           int64
Phone              object
Int'l Plan         object
VMail Plan         object
VMail Message       int64
Day Mins          float64
Day Calls           int64
Day Charge        float64
Eve Mins          float64
Eve Calls           int64
Eve Charge        float64
Night Mins        float64
Night Calls         int64
Night Charge      float64
Intl Mins         float64
Intl Calls          int64
Intl Charge       float64
CustServ Calls      int64
Churn?             object
dtype: object

In [ ]:
#obtenir un résumé des valeurs numériques de notre base de données
df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [ ]:
# on peut utiliser la transposée
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Account Length,3333.0,101.064806,39.822106,1.00,74.00,101.00,127.00,243.00
Area Code,3333.0,437.182418,42.371290,408.00,408.00,415.00,510.00,510.00
VMail Message,3333.0,8.099010,13.688365,0.00,0.00,0.00,20.00,51.00
Day Mins,3333.0,179.775098,54.467389,0.00,143.70,179.40,216.40,350.80
Day Calls,3333.0,100.435644,20.069084,0.00,87.00,101.00,114.00,165.00
Day Charge,3333.0,30.562307,9.259435,0.00,24.43,30.50,36.79,59.64
Eve Mins,3333.0,200.980348,50.713844,0.00,166.60,201.40,235.30,363.70
Eve Calls,3333.0,100.114311,19.922625,0.00,87.00,100.00,114.00,170.00
Eve Charge,3333.0,17.083540,4.310668,0.00,14.16,17.12,20.00,30.91
Night Mins,3333.0,200.872037,50.573847,23.20,167.00,201.20,235.30,395.00
Night Calls,3333.0,100.107711,19.568609,33.00,87.00,100.00,113.00,175.00
Night Charge,3333.0,9.039325,2.275873,1.04,7.52,9.05,10.59,17.77
Intl Mins,3333.0,10.237294,2.791840,0.00,8.50,10.30,12.10,20.00
Intl Calls,3333.0,4.479448,2.461214,0.00,3.00,4.00,6.00,20.00
Intl Charge,3333.0,2.764581,0.753773,0.00,2.30,2.78,3.27,5.40
CustServ Calls,3333.0,1.562856,1.315491,0.00,1.00,1.00,2.00,9.00

In [ ]:

df['Day Calls'].value_counts()

102    78
105    75
107    69
95     69
104    68
       ..
149     1
157     1
36      1
30      1
165     1
Name: Day Calls, Length: 119, dtype: int64

In [ ]:
df.groupby(['Area Code']).mean()

,Account Length,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
Area Code,,,,,,,,,,,,,,,
408,101.877088,7.668258,177.175418,100.496420,30.120274,201.284248,99.788783,17.109308,199.214678,99.039379,8.964785,10.126372,4.426014,2.734737,1.519093
415,101.068882,8.357704,181.592628,100.576435,30.871335,200.652085,100.503927,17.055571,202.037583,100.398187,9.091795,10.343444,4.561934,2.793257,1.554079
510,100.246429,8.019048,178.787619,100.097619,30.394429,201.323929,99.671429,17.112940,200.229048,100.601190,9.010310,10.138810,4.370238,2.737857,1.623810

In [ ]:
df.groupby(['Area Code', 'VMail Message']).mean()

                         Account Length   Day Mins   Day Calls  Day Charge  \
Area Code VMail Message
408       0                   102.61165  177.57055  100.561489    30.18746
          12                  184.00000  200.30000   76.000000    34.05000
          13                  114.00000  200.35000   84.500000    34.06000
          14                   69.50000  139.65000   90.500000    23.74000
          15                   94.00000  162.20000   97.500000    27.57500
...                                 ...        ...         ...         ...
510       45                   55.00000  130.50000  114.000000    22.19000
          46                  118.50000  219.50000   79.500000    37.31500
          48                   64.00000   94.40000  104.000000    16.05000
          49                   63.00000  214.90000   86.000000    36.53000
          50                  137.00000  186.50000   94.000000    31.71000

                           Eve Mins   Eve Calls  Eve Charge  Night Mins  \
Area Code VMail Message
408       0              201.175243  100.050162   17.100049  200.259061
          12             253.600000  105.000000   21.560000  149.300000
          13             132.150000   87.500000   11.235000  230.100000
          14             220.400000  103.000000   18.735000   94.150000
          15             218.800000  106.500000   18.600000  195.950000
...                             ...         ...         ...         ...
510       45             208.400000   94.000000   17.710000  141.600000
          46             194.550000   97.500000   16.540000  250.700000
          48             136.200000  101.000000   11.580000  147.400000
          49             198.200000   89.000000   16.850000  170.800000
          50             178.000000  106.000000   15.130000  215.600000

                         Night Calls  Night Charge  Intl Mins  Intl Calls  \
Area Code VMail Message
408       0                98.817152      9.011828  10.147896    4.466019
          12               93.000000      6.720000  10.200000    5.000000
          13               94.500000     10.355000  10.900000    3.500000
          14               96.500000      4.240000   6.400000    1.500000
          15               98.000000      8.815000  11.400000    4.500000
...                              ...           ...        ...         ...
510       45              114.000000      6.370000  11.000000    5.000000
          46               93.500000     11.285000  10.650000    4.000000
          48               89.000000      6.630000   4.500000    4.000000
          49              139.000000      7.690000   8.200000    5.000000
          50              100.000000      9.700000  12.100000    4.000000

                         Intl Charge  CustServ Calls
Area Code VMail Message
408       0                 2.740485        1.559871
          12                2.750000        0.000000
          13                2.945000        1.000000
          14                1.725000        1.000000
          15                3.075000        1.000000
...                              ...             ...
510       45                2.970000        4.000000
          46                2.875000        0.000000
          48                1.220000        0.000000
          49                2.210000        0.000000
          50                3.270000        2.000000

[121 rows x 14 columns]

In [ ]:
df.nunique()

State               51
Account Length     212
Area Code            3
Phone             3333
Int'l Plan           2
VMail Plan           2
VMail Message       46
Day Mins          1667
Day Calls          119
Day Charge        1667
Eve Mins          1611
Eve Calls          123
Eve Charge        1440
Night Mins        1591
Night Calls        120
Night Charge       933
Intl Mins          162
Intl Calls          21
Intl Charge        162
CustServ Calls      10
Churn?               2
dtype: int64

In [ ]:
df['Churn?'].nunique()

2

In [ ]:
df.isnull().sum().sum()

0

In [ ]:
categorical_cols = df.columns[df.dtypes==object].tolist()
categorical_cols

['State', 'Phone', "Int'l Plan", 'VMail Plan', 'Churn?']

In [ ]:
Xencode = pd.get_dummies(df, prefix_sep='_', drop_first=True)
Xencode

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,...,Phone_422-6685,Phone_422-6690,Phone_422-7728,Phone_422-8268,Phone_422-8333,Phone_422-8344,Phone_422-9964,Int'l Plan_yes,VMail Plan_yes,Churn?_True.
0,128,415,25,265.1,110,45.07,197.4,99,16.78,244.7,...,0,0,0,0,0,0,0,0,1,0
1,107,415,26,161.6,123,27.47,195.5,103,16.62,254.4,...,0,0,0,0,0,0,0,0,1,0
2,137,415,0,243.4,114,41.38,121.2,110,10.30,162.6,...,0,0,0,0,0,0,0,0,0,0
3,84,408,0,299.4,71,50.90,61.9,88,5.26,196.9,...,0,0,0,0,0,0,0,1,0,0
4,75,415,0,166.7,113,28.34,148.3,122,12.61,186.9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,415,36,156.2,77,26.55,215.5,126,18.32,279.1,...,0,0,0,0,0,0,0,0,1,0
3329,68,415,0,231.1,57,39.29,153.4,55,13.04,191.3,...,0,0,0,0,0,0,0,0,0,0
3330,28,510,0,180.8,109,30.74,288.8,58,24.55,191.9,...,0,0,0,0,0,0,0,0,0,0
3331,184,510,0,213.8,105,36.35,159.6,84,13.57,139.2,...,0,0,0,0,0,0,0,1,0,0
3332,74,415,25,234.4,113,39.85,265.9,82,22.60,241.4,...,0,0,0,0,0,0,0,0,1,0